@CHARSET "ISO-8859-1";
body
{
	background-color: lightblue;
	 font: arial, sans-serif;
}

.header{
	font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}
th{
	background-color: #ddd;
}

table, td, th {    
    border: 2px solid black;
    text-align: left;
}
th, tr, td {
    padding: 15px;
    border: 2px solid black;
}